<% if @body.present? %>
  <%= render 'custom_content', content: @body, submitter: @submitter, sig: @sig %>
<% else %>
  <p>Hi <%= @submitter.name&.split&.first || 'there' %>,</p>
  <p>Thanks for signing "<%= @submitter.submission.name || @submitter.submission.template.name %>".</p>
  <p>We've attached a copy of the completed document to this email for your records. You can also view or download it anytime here:</p>
  <p><%= link_to @submitter.submission.name || @submitter.submission.template.name, submissions_preview_url(@submitter.submission.slug, { sig: @sig, host: @custom_domain || ENV.fetch('EMAIL_HOST', Docuseal.default_url_options[:host]) }.compact) %></p>
  <p><%= t('thanks') %>,<br><%= @current_account.name %></p>
<% end %>
